/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$my-typography: mat-typography-config(
  $font-family: 'Open Sans, "Helvetica Neue", sans-serif'
);

@include mat-base-typography($my-typography);
@include angular-material-typography($my-typography);


body {
  margin: 0;
}
